<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="chpaysafe" translate="label" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paysafe - Hosted</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Title</label>
                </field>

                <field id="environment" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Mode</label>
                    <source_model>CollinsHarper\Paysafe\Model\Adminhtml\Source\Environment</source_model>
                </field>

                <field id="payment_action" type="select" sortOrder="13" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Transaction Type</label>
                    <source_model>CollinsHarper\Paysafe\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>

                <field id="username" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API User name</label>
                </field>

                <field id="password" translate="label" type="obscure" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>

                <field id="debug" type="select" translate="label" sortOrder="110" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="email_customer" type="select" translate="label" sortOrder="120" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Email Customer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="merchant_email" type="text" translate="label" sortOrder="130" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Merchant's Email</label>
                    <validate>validate-email</validate>
                </field>

                <field id="cctypes" type="multiselect" translate="label" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Credit Card Types</label>
                    <comment>Use this configuration to describe which credit card will be accepted by your store based on your Paysafe account.</comment>
                    <source_model>CollinsHarper\Paysafe\Model\Adminhtml\Source\CcType</source_model>
                </field>

                <field id="enable_silent_post" type="select" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Use Silent/Direct Post?</label>
                    <comment>When this flag is disabled customer will be redirect to Paysafe Hosted page.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="enable_3dsecure" type="select" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enable 3D Secure Verification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="enable_interac" type="select" translate="label" sortOrder="151" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable Interac</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Interac will be used when this option is enabled and customer choose Interac as payment method</comment>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="205" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <config_path>payment/chpaysafe/allowspecific</config_path>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>CollinsHarper\Paysafe\Model\Adminhtml\System\Config\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>payment/chpaysafe/specificcountry</config_path>
                </field>
                <field id="countrycreditcard" translate="label" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Country Specific Credit Card Types</label>
                    <frontend_model>CollinsHarper\Paysafe\Block\Adminhtml\Form\Field\CountryCreditCard</frontend_model>
                    <backend_model>CollinsHarper\Paysafe\Model\Adminhtml\System\Config\CountryCreditCard</backend_model>
                    <config_path>payment/chpaysafe/countrycreditcard</config_path>
                </field>

            </group>
            <group id="paysafe_vault" translate="label" type="text" sortOrder="7" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Paysafe - Customer Vault</label>
                <comment>Store customer profile and card data securely on Paysafe servers via API calls over SSL</comment>
                <field id="paysafe_cc_vault_active" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Vault Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/chpaysafe_cc_vault/active</config_path>
                    <requires>
                        <group id="chpaysafe"/>
                    </requires>
                </field>
                <field id="paysafe_cc_vault_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Vault Title</label>
                    <config_path>payment/chpaysafe_cc_vault/title</config_path>
                    <requires>
                        <group id="chpaysafe"/>
                    </requires>
                </field>
                <field id="paysafe_account_id" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Account ID</label>
                    <comment>Used to perform Credit Card Token payment.</comment>
                    <config_path>payment/chpaysafe/account_id</config_path>
                    <requires>
                        <field id="paysafe_cc_vault_active"/>
                    </requires>
                </field>
                <field id="vault_address_editable" translate="label" type="select" sortOrder="210" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Allow Address Editing</label>
                    <comment>Allows the user to edit the credit card address on the hosted payment page</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="threat_metrix" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Paysafe - ThreatMetrix</label>
                <field id="threat_metrix_enable" translate="label" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/chpaysafe/threat_metrix_enable</config_path>
                </field>
                <field id="org_id" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Organization Id</label>
                </field>
            </group>
        </section>
    </system>
</config>
