<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <chpaysafe>
                <debug>0</debug>
                <active>0</active>
                <model>PaySafePaymentGatewayFacade</model>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <title>Paysafe - Hosted Payment</title>
                <currency>CAD</currency>
                <can_authorize>1</can_authorize>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture>1</can_capture>
                <can_capture_vault>1</can_capture_vault>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <enable_silent_post>0</enable_silent_post>
                <allowspecific>0</allowspecific>
                <cctypes>AE,VI,MC,DI,JCB,CUP,DN,MI</cctypes>
                <cctypes_paysafe_mapper><![CDATA[{"american-express":"AE","discover":"DI","jcb":"JCB","mastercard":"MC","master-card":"MC","visa":"VI","maestro":"MI","diners-club":"DN","unionpay":"CUP"}]]></cctypes_paysafe_mapper>
            </chpaysafe>
            <chpaysafe_cc_vault>
                <model>PaySafeCreditCardVaultFacade</model>
                <title>Stored Cards (Paysafe)</title>
            </chpaysafe_cc_vault>
        </payment>
    </default>
</config>
